@use './var.scss';
@use './themes.scss';

// 全局样式
:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 
  system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, 
  Noto Sans, sans-serif, Arial, PingFang SC, Source Han Sans SC, Microsoft YaHei UI, Microsoft YaHei, Noto Sans CJK SC, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--text-primary);
  background-color: var(--background-color-base);
  transition: color 0.3s, background-color 0.3s;
}

* {
  box-sizing: border-box;
}